/*fonts*/

/*variables*/
:root {
  --basic-color: #FFFFFF;
  --font-color-bold: #000000;
  --font-color-thin: #333333;
  --accent-color: #81B3D2;
  --button-search-hover: #669EC0;
  --button-search-active: #5496BD;
  --background-advantages: #EEEEEE;
  --button-booking-hover: #604E43;
  --button-booking: #503E33;
  --button-booking-opacity: rgba(255, 255, 255, 0.3);
  --fields-form-ligt-gray: #F2F2F2;
  --background-footer: rgba(255, 255, 255, 0.9);
  --background-page: rgba(0, 1, 1, 0.2);
  --link-active-brown: #766357;
  --sort-scale-color: #CACACA;
  --gray-line-color: #E5E5E5;
  --box-search-hotel-shadow: rgba(0, 1, 1, 0.15);
}
/*Global*/
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--font-color-thin);
  text-transform: uppercase;
  background-color: var(--fields-form-ligt-gray);
}

a {
  text-decoration: none;
  color: var(--font-color-bold);
  font-weight: 700;
}

.page-center {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-color);
  box-shadow: 0 5px 15px 0 var(--background-page);
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  width: 1200px;
  height: 70px;
}

/* Main navigation */
.main-navigation {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 70px;

  line-height: 26px;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  grid-column: -1/1;
  grid-row: 1;
  justify-self: center;
}

.site-navigation {
  grid-column: -1/1;
  grid-row: 1;

  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 73px;
  align-items: center;
}

.site-navigation li {
  width: 200px;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: auto;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: auto;
  text-align: right;
}

.site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:last-child {
  padding-left: 0;
}


/* User navigation */
.site-navigation a:hover,
.hotel-item h3:hover {
  color: var(--accent-color)
}

.site-navigation a:active,
.hotel-item h3:active {
  color: var(--font-color-bold);
  opacity: 0.3;
}

.nav-item-hotels {
  color: var(--link-active-brown);
}

/*Advantages*/
.welcome {
  height: 509px;
  background-image: url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.welcome img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
}

.welcome b {
  display: block;
  margin: 0 auto;
  width: 470px;
  padding-top: 60px;
}

.advantages {
  margin-top: 80px;
}
.advantages-list,
.advaces-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slogan,
.advantages p,
.advantage-item,
.advace-item p {
  text-align: center;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.advantage-item h3,
.advace-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantage p {
  font-size: 14px;
  line-height: 26px;
}

.first-advantage,
.second-advantage {
  color: var(--basic-color);
  background-color: var(--accent-color);
}

.three-advantages {
  background-color: var(--background-advantages)
}

.advace-item p {
  padding: 0 53px;
}

.three-advantages p {
  padding: 0 87px;
}

.three-advantages-text {
  margin-top: 45px;
}

/*Grid*/
/*Flex*/
.advantages-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 256px 256px;

  margin-top: 60px;
}

.advantage-item:first-child {
  min-height: 586px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 256px 1fr;
 }

 .advantage-item:nth-child(2) {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row: 2;

   display: flex;
 }

.first-advantage {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;

  display: flex;
}

.first-advantage-text,
.second-advantage-text {
  padding: 20px 48px;
}

 .advaces-list  {
   width: 1200px;
   display: grid;
   grid-template-columns: repeat(3, auto);
 }

.second-advantage img {
  order: -1;
}

/*Search-hotels*/
.search-hotels {
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-hotels h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;

  margin-top: 58px;
}

.search-hotels p {
  line-height: 24px;
  padding: 0 380px;
  margin: 40px 0;
}

.search-hotels-form label {
  line-height: 26px;
  font-weight: 700;
}

/*Grid*/
.search-hotels {
  display: grid;
  grid-template-rows: 5(repeat, auto);
  grid-template-columns: auto;
}

.search-hotels img {
  grid-row: 5;
  grid-column: 1;
}

/*Flex*/
.search-hotels-form {
  grid-row: 4/6;
  grid-column: 1;
  justify-self: center;

  background-color: var(--basic-color);
  box-shadow: 0px 7px 15px var(--box-search-hotel-shadow);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 457px;
  height: 285px;
  padding: 55px;
}

.search-hotels-form p {
  margin: 0;
  padding: 0;
}

.search-hotels-form .button-search  {
  width: 458px;
  padding: 16px 182px 16px 181px;
  font-size: 21px;
  line-height: 26px;
}

/*Button*/
.button {
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  vertical-align: middle;
  border: none;
}

.button-booking {
  background-color: var(--link-active-brown);
}

.search-hotels .button-booking {
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  padding: 30px 125px;
  justify-self: center;
}

.button-booking:hover {
  background-color: var(--button-booking-hover);
}

.button-booking:active {
  background-color: var(--button-booking);
  color: var(--button-booking-opacity);
}

.button-search {
  background-color: var(--accent-color)
}

.button-search:hover {
  background-color: var(--button-search-hover);
}

.button-search:active {
  background-color: var(--button-search-active);
  color: var(--button-booking-opacity);
}

/* Page footer */
.page-footer {
  color: var(--font-color-bold);
  background-color: var(--background-footer);

  display: grid;
  height: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts h2,
.footer-contacts p,
.footer-contacts a,
.footer-social h2 {
   padding: 5px 0;
   margin: 0;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
}

.page-footer p {
  line-height: 26px;
}

.social-button {
  fill: var(--accent-color);
}

.social-button:hover {
  fill: var(--button-search-hover);
}

.social-button:active {
  fill: var(--button-search-active);
}
/*Main footer*/
.main-footer {
  background-color: var(--background-footer);
}
/*Filters*/
.filters {
  background-image: url("../img/background_inner_page.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 217px;
}

.filters h1 {
  margin: 0;
  padding: 0;
}

.filters-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  padding-top: 25px;
}

legend {
  color: var(--basic-color);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-item label,
.filter-part-label {
  color: var(--basic-color);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter > fieldset {
  margin-right: 118px;
}

.filter .filter-part {
  margin-left: auto;
  width: 317px;
}

/*Flex*/
.filter {
  display: flex;
  align-items: baseline;
  margin: 0 70px;
}

.filter-part fieldset {

}
.filter-part .filter-button {
  display: block;
  margin: 70px auto 0 auto;
}

/*Button*/
.filter-button {
  background: none;
  border: var(--basic-color) 2px solid;
  padding: 5px 30px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter-button:hover {
  background: var(--basic-color);
  color: var(--font-color-bold)
}

/*Search results*/
.sort-list,
.sort-scale,
.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-options p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort-options h3,
.sort-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.sort-item a {
  font-weight: 400;
  color: var(--font-color-bold);
  opacity: 0.3;
  text-decoration: underline;
}

.sort-item a:hover {
  color: var(--accent-color);
  opacity: 1;
}

.sort-item a:active {
  color: var(--font-color-bold);
  text-decoration: none;
  opacity: 1;
}

.scale-polygon {
  fill: var(--sort-scale-color)
}

.scale-polygon:hover {
  fill: var(--font-color-bold);
}

.scale-polygon:active {
  fill: var(--accent-color);
}

/*Hotels list*/
.hotel-item {
  border-top: 1px solid var(--gray-line-color);
}
.hotel-item:last-child {
  border-bottom: 1px solid var(--gray-line-color);
}
.hotel-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.rating {
  background-color: var(--fields-form-ligt-gray);
}

/*Grid*/
/*Flex*/
.search-results {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0 70px;
}

.sort-options {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.sort-options-text h2,
.sort-options-text p {
  margin: 0;
  padding: 0;
}

.sort-options-filter {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.sort-list {
  display: flex;
  margin-left: 32px;
}

.sort-item {
  margin-right: 32px;
}

.sort-item:last-child,
.sort-scale li:last-child {
  margin-right: 0;
}

.sort-scale {
  display: flex;
  margin-left: auto;
}

.sort-scale li {
  margin-right: 12px;
}

.hotel-item {
  display: flex;
  width: 100%;
  padding: 30px 0;
}

.hotel-item-rating {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-item-description {
  margin-left: 29px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 6px;
  height: 90px;
}

.hotel-name {
  grid-column: -1/1;
}

.hotel-item-description p,
.hotel-name h3 {
  margin: 0;
  padding: 0;
}

.rating {
  margin: 0;
  padding: 3px 12px 3px 15px;
}

.button-search {
  padding: 3px 16px 3px 17px;
  align-self: center;
}

.button-booking {
  padding: 3px 17px 3px 16px;
  align-self: center;
}
